
<footer style="background-color: black;" class="py-4 text-white text-center position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-12">
                <h6 class="text-start" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 700;">LIENS RAPIDES</h6>
                <br>
                <ul class="lr">
                    <li><a class="la" href="/products">Nutrition sportive</a></li>
                    <li><a class="la" href="/products">Accessoires</a></li>
                    <li><a class="la" href="/packs">Packs</a></li>
                    <li><a class="la" href="/contact">Contact</a></li>
                    <li><a class="la" href="/">Accueil</a></li>
                </ul>
            </div>


            <div class="col-lg-4 col-sm-6 col-md-12">
                <h6 class="text-start" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: 700;">GET IN TOUCH</h6>
                <br>
                <p class="text-start text-secondary" style="font-weight: 300;">
                    Des questions? Faites-le nous savoir. Contactez nous sur Facebook, Instagram ou appelez-nous au
                    <span><a class="text-decoration-none" style="color: aqua;font-family: system-ui;font-weight: 700; font-size: 80%;" href="tel:+212644-060632">0645-314842</a></span>.
                </p>
                <a href="https://www.instagram.com/tops_nutrition/" class="ai"><i class="bi bi-instagram"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100076414806159" class="af mx-3"><i class="bi bi-facebook"></i></a>
            </div>
            
            <div class="col-4">
                
            </div>
        </div>
        <br>
        <p style="font-size: 85%; font-weight: 700; font-family: system-ui" class="text-secondary">
            Copyright &copy;2023 Tops Nutrition. ALL Rights Reserved.
        </p>
        <a href="#" class="position-absolute bottom-0 end-0 p-3">
            <i class="text-info bi bi-arrow-up-circle h2"></i>
        </a>
    </div>
</footer>